body{
background-image: url(./images/100\ Beautiful\ Ultra\ HD\ 4K\ Wallpapers\ Pack-1\ \(99\).jpg);
background-size: contain;
}
#button1{
    background-color: chartreuse;
 color: crimson;
}
.mainname1{
    font-size: 30px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(7, 49, 51);

}
.WELLCOME1{
    color: chartreuse;

}

